Flow3.txt
[{"id":"583ab9c.b297348","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"41a3d8de.796e48","type":"function","z":"583ab9c.b297348","name":"Payload","func":"msg.headers={\n    deviceKey:\"JYqlQXiMeZ090h73\"  \n    };\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["43f8eec3.3b8"]]},{"id":"5ea544ec.3ddd9c","type":"inject","z":"583ab9c.b297348","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["41a3d8de.796e48"]]},{"id":"43f8eec3.3b8","type":"http request","z":"583ab9c.b297348","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DI79YoQR/datapoints.csv","tls":"","x":470,"y":180,"wires":[["337355ca.bfa53a","75029a54.b86604"]]},{"id":"337355ca.bfa53a","type":"http response","z":"583ab9c.b297348","name":"","statusCode":"","headers":{},"x":650,"y":180,"wires":[]},{"id":"75029a54.b86604","type":"debug","z":"583ab9c.b297348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]}]