Flow1.txt
[{"id":"304ffab1.2daec6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"17f422f.59feddd","type":"rpi-gpio out","z":"304ffab1.2daec6","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":300,"wires":[]},{"id":"b4e3a942.c8d438","type":"inject","z":"304ffab1.2daec6","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[[]]},{"id":"e984eb1.b01d918","type":"inject","z":"304ffab1.2daec6","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":480,"wires":[[]]},{"id":"7b9ee668.cc6098","type":"debug","z":"304ffab1.2daec6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":200,"wires":[]},{"id":"4df8b6e7.5f6908","type":"rpi-gpio in","z":"304ffab1.2daec6","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":220,"wires":[["7b9ee668.cc6098","bd754070.199f3"]]},{"id":"bd754070.199f3","type":"switch","z":"304ffab1.2daec6","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":300,"wires":[["7686a3e7.ef98dc"],["3ec6ceca.dd90b2"]]},{"id":"7686a3e7.ef98dc","type":"change","z":"304ffab1.2daec6","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["17f422f.59feddd"]]},{"id":"3ec6ceca.dd90b2","type":"change","z":"304ffab1.2daec6","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["17f422f.59feddd"]]}]