Flow5.txt
[{"id":"70bdae76.45583","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"cff72355.12c48","type":"http in","z":"70bdae76.45583","name":"[get]/GPIO","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["b5378f8b.77166"]]},{"id":"b879cc0e.adc3a","type":"rpi-gpio in","z":"70bdae76.45583","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":130,"y":260,"wires":[["256382a6.b5489e"]]},{"id":"256382a6.b5489e","type":"function","z":"70bdae76.45583","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["4ca55e10.3c877"]]},{"id":"b5378f8b.77166","type":"function","z":"70bdae76.45583","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["4ca55e10.3c877","7efb8cf6.0129e4"]]},{"id":"4ca55e10.3c877","type":"debug","z":"70bdae76.45583","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":140,"wires":[]},{"id":"7efb8cf6.0129e4","type":"http response","z":"70bdae76.45583","name":"","statusCode":"","headers":{},"x":570,"y":220,"wires":[]}]