Flow6.txt
[{"id":"2e9c3089.e9d17","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"83925aa2.9d27f8","type":"http in","z":"2e9c3089.e9d17","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["26b52982.bcf476","45176050.9ec01"]]},{"id":"26b52982.bcf476","type":"function","z":"2e9c3089.e9d17","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["81091b6f.15e948"]]},{"id":"81091b6f.15e948","type":"rpi-gpio out","z":"2e9c3089.e9d17","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":530,"y":260,"wires":[]},{"id":"45176050.9ec01","type":"function","z":"2e9c3089.e9d17","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGE\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["458a345.ae352cc","cc76cff2.8a786"]]},{"id":"458a345.ae352cc","type":"debug","z":"2e9c3089.e9d17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":180,"wires":[]},{"id":"cc76cff2.8a786","type":"http response","z":"2e9c3089.e9d17","name":"","statusCode":"","headers":{},"x":790,"y":300,"wires":[]},{"id":"559b36b.7af73c8","type":"http in","z":"2e9c3089.e9d17","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["ff8583dd.321cd","dd6ceb87.9389f8"]]},{"id":"ff8583dd.321cd","type":"function","z":"2e9c3089.e9d17","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["81091b6f.15e948"]]},{"id":"dd6ceb87.9389f8","type":"function","z":"2e9c3089.e9d17","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["cc76cff2.8a786","458a345.ae352cc"]]}]