Flow2.txt
[{"id":"6f39cbfc.0916b4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5f6ddecc.d25b9","type":"inject","z":"6f39cbfc.0916b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["72123e06.288"]]},{"id":"72123e06.288","type":"function","z":"6f39cbfc.0916b4","name":"Payload","func":"msg.headers={\n    deviceKey:\"JYqlQXiMeZ090h73\"  \n    };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["981629c0.b2a148"]]},{"id":"34a50b5a.abe374","type":"http response","z":"6f39cbfc.0916b4","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]},{"id":"cfb6d5bf.3d0f68","type":"debug","z":"6f39cbfc.0916b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":80,"wires":[]},{"id":"981629c0.b2a148","type":"http request","z":"6f39cbfc.0916b4","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DI79YoQR/datachannels/Humidity/datapoints.csv","tls":"","x":450,"y":220,"wires":[["34a50b5a.abe374","cfb6d5bf.3d0f68"]]}]