Flow4.txt
[{"id":"1627e015.a778d","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"70366f1e.aa209","type":"random","z":"1627e015.a778d","name":"","low":"1","high":"10","inte":"true","property":"payload","x":280,"y":140,"wires":[["66011421.fffd2c","55db0b9b.07f674"]]},{"id":"86034cfd.e573e","type":"http in","z":"1627e015.a778d","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["70366f1e.aa209"]]},{"id":"66011421.fffd2c","type":"http response","z":"1627e015.a778d","name":"","statusCode":"","headers":{},"x":470,"y":140,"wires":[]},{"id":"55db0b9b.07f674","type":"debug","z":"1627e015.a778d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]}]